/* General styles */
/* Form styles */
form {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reg_Form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.reg_Form input[type="text"],
.reg_Form input[type="password"],
.reg_Form input[type="file"],
.reg_Form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.reg_Form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.reg_Form button[type="submit"]:hover {
    background-color: #45a049;
}

.reg_Form .signin {
    text-align: center;
    margin-top: 20px;
}

.reg_Form .signin a {
    color: dodgerblue;
    text-decoration: none;
}

.reg_Form .signin a:hover {
    text-decoration: underline;
}

.reg_Form .psw {
    float: right;
    padding-top: 16px;
}
